

.image{
    justify-content: center;
    position: relative;
    left: 55%;
    top: 10px;     
}
.front_page{
    background-color: #EBE3D5;
    height: 36rem;
   margin-bottom: 0.6cm;
    
}
.name{
    font-size: xx-large;
    position: relative;
    justify-content: center;
    left: 150px;
    top: 200px; 
}
.fp_right{
  
   left: 90%;
   top: 10px;   
}
.fullstack{
    justify-content: center;
    position: relative;
    top: 15rem;
    left: 150px;
}
.about{
    background-color: #EBE3D5;
    height: 36rem;
    display: flex;
    margin-top: 0.4cm;
    margin-bottom: 0.3cm;
   
   
  

}
.about_header{
    position: relative;
   
    height: 100%;
    width: 35%;
    
   
}
.abt_class{
    
    position: relative;
    left: 150px;
    top: 150px;
    width: 10rem;

}
.discription{
      
    position: relative;
    top: 150px;
    
}
.project_section{
   
  
    margin-top: 0.6cm;
    height: 35rem;   
    
}
.projects{
    height: 100%;    
    display: flex;   
    background-color: aqua;
}
.no_of_projects{
    
    position: relative;
    width: 35%;
    background-color: yellowgreen;
}
#text_no_of_products{
    position: relative;
    left: 150px;
    top: 150px;
}
.all_cards{
    display: flex;
    width: 65%;

   
}
#card_1{
    background-color: violet;
    width: 50%;
    .card{
        position: relative;
        left: 50px;
        top: 30px;    
    }
}
#card_2{
    background-color: rgb(96, 31, 96);
    width: 50%;
    .card{
        position: relative;
        left: 50px;
        top:30px;
    }
}











.contact_section{
    height: 36rem;   
    background-color: #EBE3D5;
    margin-bottom: -0.3cm;
    margin-top: 0.6cm;
}

#contact{
    font-size: xx-large;  

    position: relative;
    top: 150px;
    left: 300px;
    width: 10rem;
 
    
}

.page_bottom{
    display: flex;
    background-color: #41382a;
    
    height: 3rem;
    

}
#email{
   

    position: relative;
    left: 10%;
   
}
#linkedin{
    
    position: relative;
    left: 50%;
}
