

.image{
    justify-content: center;
    position: relative;
    left: 55%;
    top: 10px;     
}

.front_page{
    background-color: #EBE3D5;
    height: 36rem;
   margin-bottom: 0.6cm;
    
}


.name{
    font-size: xx-large;
    position: relative;
    justify-content: center;
    left: 150px;
    top: 200px; 
}

.fp_right{
  
   left: 90%;
   top: 10px;   
}

.fullstack{
    justify-content: center;
    position: relative;
    top: 15rem;
    left: 150px;
}


.about{
    background-color: #EBE3D5;
    height: 36rem;
    display: flex;
    margin-top: 0.4cm;
    margin-bottom: 0.3cm;
   
   
  

}
.about_header{
    position: relative;
   
    height: 100%;
    width: 35%;
    
   
}
.abt_class{
    
    position: relative;
    left: 150px;
    top: 150px;
    width: 10rem;

}

.discription{
      
    position: relative;
    top: 150px;
    
}
.project_section{
    position: relative;
    background-color: #533d17;
    margin-top: 0.6cm;
    height: 36rem;    
}

.skills{
    height: 36rem;
    background-color: #684e21;
    margin-top: 0.6cm;
    display: flex;
    width: 100%;
    
    
   
}

#mySkills{
    position: relative;
    left: 150px;
    top: 150px;
    width: 20rem;
    font-size: xx-large;
        
}

.contact_section{
    height: 36rem;   
    background-color: #EBE3D5;
    margin-bottom: -0.3cm;
    margin-top: 0.6cm;
}

#contact{
    font-size: xx-large;  

    position: relative;
    top: 150px;
    left: 300px;
    width: 10rem;
    ;
    
}

.page_bottom{
    display: flex;
    background-color: #EBE3D5;
    
    height: 3rem;
    

}
#email{
   

    position: relative;
    left: 10%;
   
}
#linkedin{
    
    position: relative;
    left: 50%;
}
