
.image{
    justify-content: center;
    position: relative;  
    top: 10px;     
    width: 20rem;
}
.front_page{
    background-color: #EBE3D5;
    height: 33rem;
   margin-bottom: 0.6cm;
}
.name{
    font-size: xx-large;
    position: relative;
    justify-content: center;
    left: 150px;
    top: 200px; 
    width: 20rem;
}

.fullstack{
    justify-content: center;
    position: relative;
    top: 15rem;
    width: 30rem;
    left: 150px;
}
.about{
    background-color: #EBE3D5;
    height: 33rem;
    display: flex;
    margin-top: 0.4cm;
    margin-bottom: 0.3cm;
}
.about_header{
    position: relative;
    height: 100%;
    width: 35%;
}
.abt_class{
    position: relative;
    left: 150px;
    top: 150px;
    width: 10rem;
}
.description{
    position: relative;
    top: 150px;
}
.project_section{
    margin-top: 0.6cm;
    height: 33rem;  
}
.projects{
    height: 100%;    
    display: flex;   
    background-color: aqua;
}
.no_of_projects{
    position: relative;
    width: 35%;
    background-color: yellowgreen;
}
#text_no_of_products{
    position: relative;
    left: 150px;
    top: 150px;
}
.all_cards{
    display: flex;
    width: 65%;
}
#card_1{
    background-color: violet;
    width: 50%;
    .card{
        position: relative;
        left: 50px;
        top: 30px;    
    }
}
#card_2{
    background-color: rgb(96, 31, 96);
    width: 50%;
    .card{
        position: relative;
        left: 50px;
        top:30px;
    }
}
.skills{
    height: 33rem;
    display: flex;
    margin: 0.4cm;
    margin-top: 0.1cm;
}
.skill_list{
    
    width: 65%;
    background-color: tomato;
}
.text_skill{
    position: relative;
    left: 150px;
    top: 150px;
    width: 10rem;
    background-color: aqua;
}
.skill_header{
    position: relative;
    background-color: yellowgreen;
    height: 100%;
    width: 35%;    
}
.contact_section{
     height: 33rem;
    margin: 0.4cm;
    margin-top: 0.6cm;
    background-color: #EBE3D5;
}
#contact{
    text-align: center;
    position: relative;
    top: 45%;
    height: 5rem;
}
.bottom_bar{
    display: flex;
    height: 40px;
    position: relative;
    top: 75%;
    align-items: center;
    width: 100%;
}

#email{
    height: 2rem;
    margin-left: 10%;
}

#linkedin{
    height: 2rem;
    width: fit-content;
    margin-left: 20%;
}
#github{
    height: 2rem;
    width: fit-content;
    margin-left: 20%;
}
#backToTop{
    width: 10rem;
    margin-left: 20%;
}

